<style>
  .styled-button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 20px;
      margin-left: 2px;
  }

  .styled-button:hover {
      background-color: #45a049;
  }
</style>

<h1>Articles</h1>

<ul>
  {% for article in articles %}
    <li><a href="{% url 'view_pdf' article.id %}">{{ article.title }}</a></li>
  {% endfor %}
</ul>

<a href="{% url 'upload_pdf' %}">
  <button class="styled-button">Link Article</button>
</a>