/* notes/static/notes/style.css */

.container {
    display: flex;
    height: 100vh;
  }
  .pdf-viewer {
    flex: 1;
    overflow-y: scroll;
    border-right: 1px solid #ccc;
  }
  .right-panel {
    flex: 1;
    padding: 1em;
    position: relative;
  }
  .new-note-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .note {
    display: none;
    margin-top: 3em;
    background: #fff8dc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 1em;
    border-radius: 5px;
  }
  .note input,
  .note textarea {
    width: 100%;
    margin-bottom: 0.5em;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.5em;
  }

  #pdf-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #pdf-container canvas {
    width: 100% !important;  /* scale to container width */
    height: auto !important; /* maintain aspect ratio */
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  }

  .textLayer {
    transform-origin: top left;
    transform: scale(1);
    pointer-events: none; /* Prevents accidental mis-selection */
    line-height: 1;
    font-family: sans-serif;
    white-space: pre;
}

.no-text-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}